name: CodSpeed

on:
  push:
    branches:
      - "main" # or "master"
  pull_request:
  # `workflow_dispatch` allows CodSpeed to trigger backtest
  # performance analysis in order to generate initial data.
  workflow_dispatch:

permissions: # optional for public repositories
  contents: read # required for actions/checkout
  id-token: write # required for OIDC authentication with CodSpeed

jobs:
  benchmarks:
    name: Run benchmarks
    runs-on: ubuntu-latest
    env:
      AOC_SESSION: ${{ secrets.AOC_SESSION }}
    steps:
      - name: Get current date
        id: date
        run: |
          echo "::set-output name=date::$(date +'%Y-%m-%d')"
          echo "::set-output name=yesterday::$(date -d yesterday +'%Y-%m-%d')"
      - uses: actions/checkout@v4
      - name: Setup rust toolchain, cache and cargo-codspeed binary
        uses: moonrepo/setup-rust@v1
        with:
          channel: stable
          cache-target: release
          bins: cargo-codspeed

      - name: Drop main.rs
        run: rm src/main.rs

      - name: Build
        run: cargo build --verbose --lib
      - name: Run tests
        run: cargo test --verbose --lib

      - name: Build the benchmark target(s)
        run: cargo codspeed build --bench codspeed

      - name: Cache the puzzle inputs
        uses: actions/cache@v4
        with:
          path: input
          key: aoc-input-${{ steps.date.outputs.date }}
          restore-keys: |
            aoc-input-${{ steps.date.outputs.yesterday }}
      - name: Run the benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          mode: simulation
          run: cargo codspeed run --bench codspeed
